In [1]:
import pandas, mysql.connector

conn = mysql.connector.connect(host='143.106.73.88', database='information_schema', user='htc', password='htc_123456')
tables=pandas.read_sql("SELECT * FROM tables where TABLE_TYPE='BASE TABLE'", con=conn)
dBases=[]

for l in tables.TABLE_NAME:
    dBases.append(l)
conn.close()

for l in dBases:
    conn = mysql.connector.connect(host='143.106.73.88', database='hackthecampus', user='htc', password='htc_123456')
    dataFrame = pandas.read_sql("SELECT * FROM " + l, con=conn)
    print (dataFrame.columns.values)
    conn.close()

['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'estado' 'pais'
 'nome_pais' 'total' 'cidade2' 'uf']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ra' 'forma_ingresso' 'nome_curso' 'ingresso' 'egresso' 'motivo_egresso'
 'cr']
['area' 'curso' 'ano' 'cv' 'cr']
['nr_processo' 'titulo' 'title' 'beneficiario' 'instituicao' 'cidade'
 'pesquisador_responsavel' 'pesquisadores_principais' 'linha_fomento'
 'grande_area_conhecimento' 'area_conhecimento' 'sub_area_conhecimento'
 'assuntos' 'data_inicio' 'data_fim']
['matricula' 'nome' 'bruto' 'indenizacoes' 'redutor' 'descontos_legais'
 'liquido' 'ano' 'mes']
['matricula' 'nome' 'ramal' 'lotacao']
['ra' 'pais' 'cep' 'uf' 'curso' 'nivel' 'ano_ingresso']
['unidade' 'categoria' 'curso' 'nivel' 'nome_curso' 'feminino' 'masculino'
 'total']
['orgao' 'uo' 'unidade_gestora' 'fornte_recursos' 'licitacao' 'funcao'
 'sub_funcao' 'programa' 'acao' 'funcional programatica' 'municipio'
 'credor' 'despesa' 'pago' 'pago_restos']