In [1]:
import mysql.connector

conn = mysql.connector.connect(host='143.106.73.88', database='hackthecampus', user='htc', password='htc_123456')

In [2]:
import pandas

dBases = ["htc_alunos_doutorado_naturalidade", "htc_alunos_especiais_inter_posgrad_naturalidade", "htc_alunos_especiais_inter_grad_naturalidade", "htc_alunos_graduacao_naturalidade", "htc_alunos_mestrado_naturalidade", "htc_concluintes", "htc_cv_cr", "htc_fapesp", "htc_lotacao_unicamp", "htc_origem_alunos", "htc_sexo_alunos", "htc_siafem_despesas"]
s = "SELECT * FROM "

for l in range(0, 13):
    dataFrame = pandas.read_sql(s + dBases[l], con=conn)
    print (dataFrame.columns.values)

#dataFrame = pandas.read_sql(s + "htc_fapesp", con=conn)
#print (dataFrame.columns.values)

['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'estado' 'pais'
 'nome_pais' 'total' 'cidade2' 'uf']
['ano' 'nivel' 'cod_curso' 'nome_curso' 'cidade' 'pais' 'nome_pais' 'total']
['ra' 'forma_ingresso' 'nome_curso' 'ingresso' 'egresso' 'motivo_egresso'
 'cr']
['area' 'curso' 'ano' 'cv' 'cr']
['nr_processo' 'titulo' 'title' 'beneficiario' 'instituicao' 'cidade'
 'pesquisador_responsavel' 'pesquisadores_principais' 'linha_fomento'
 'grande_area_conhecimento' 'area_conhecimento' 'sub_area_conhecimento'
 'assuntos' 'data_inicio' 'data_fim']

OperationalError: MySQL Connection not available.